<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="navbar-dark bg-dark container-fluid">
        <div class="row">
          <div class="col-12">
              <p class="navbar-text float-right">
                <% if user_signed_in? %>
                  <a href='/welcome/index' class='link navbar-brand'>Home</a>
                  <span class='user-as'>Logado como: <strong><%= current_user.username %></strong></span>
                  <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link btn btn-primary active bg-dark' %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-primary active bg-dark'  %>
                <% else %>
                  <%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link btn btn-primary active bg-dark'%> |
                  <%= link_to "Login", new_user_session_path, :class => 'navbar-link btn btn-primary active bg-dark'%>
                <% end %>
              </p>
          </div>
        </div>
      </div>
    <nav>
    <div class="warnings-edit container-fluid">
      <div class="row">
        <div class="col-12">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end%>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
